.custom-button {
  border-radius: 6px;
  background-image: linear-gradient(
    rgb(48, 48, 48) 13%,
    rgb(30, 30, 30) 40%,
    #0c0d11 86%
  );
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 -2px 0 black;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
  background-color: #222;
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.8999rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;

  &.active {
    color: hsl(260, 100%, 80%);
    text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
  }

  &:not(.active):hover {
    color: rgba(255, 255, 255, 0.87);
  }
}

.small-button {
  line-height: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-right: 10px;
}

.big-button {
  line-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
